<h3 id ="header3">My Documents</h3>
<div>
<% my_docs.each do |document| %>
  <li><%= link_to document.title, document_path(document), :remote => true %></li>
<% end %>
</div>

<h3 id ="header3">All Documents</h3>
<div id = "accordion_content">
<% all_docs.each do |document| %>

  <li><%= link_to document.title, document_path(document), :remote => true %></li>

<% end %>
</div>

<h3 id ="header3">Recent Documents</h1>
<div>
<% recent_docs.each do |document| %>
  <%= link_to document.title, document_path(document), :remote => true %>
<% end %>
</div>

<h3 id ="header3">My Favorite Documents</h1>
<div>
<% favorite_docs.each do |document| %>
   <%= link_to document.title, document_path(document), :remote => true %>
<% end %>
</div>