<div class = "document_placeholder">
<div id ="index_image_wrapper">
  <div id ="time">
    <%= image_tag "clock.png", :class => "document_images", :id => "clock"%>
    <%= link_to "My Profile", :render => 'user_preferences', :remote => true %> |

    <div class ="index_text">
      Keep track of your files
    </div>
  </div>
  <div id ="collab">
  <%= image_tag "collaborate.png", :class => "document_images", :id => "collaborate"%>
  <div class ="index_text">
    Collaborate with your friends
  </div>
  </div>
  <div id ="start">
    <%= link_to image_tag("get-started-now-button.png", :class => "document_images", :id=>"get_started"), new_document_path %>
  </div>
</div>
</div>

